body{
  background-color: lightgrey;
  font-family: monospace;
}

h1{
  color: blue;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
}
.person{
  padding-left: 10px;
  text-align: center;
}

#information{
  border: 5px solid black;
  height: 150px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.prev, .next{
  margin: 0 10px 0 10px;
  border-radius: 100%;
  height: 110px;
  width: 110px;
  border: 2px solid black;
  background-color: red;
  font-family: monospace;;
  font-size: 20px;
}
#container{
  text-align: center;
}

.next{
  background-color: green;
  float: right;
}

.prev {
  float: left;
}
.boxes{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  margin: 2px;
  margin-top: 30px;

}
