body{
  background-color: lightgrey;
  font-family: monospace;
}

h1{
  color: navy;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
}

#information{
  border: 5px solid black;
  height: 120px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.active{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  margin: 5px;
  text-align: center;
  background-color: red;
}
